*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.border {
    border: 1px solid #000;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    flex-direction: column;
    position: relative;
}

.container #screen {
    width: 250px;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: fantasy;
    color: rgb(36, 155, 36);
}

.container .controls{
    position: absolute;
    bottom: 6.5rem;
    width: 80%;
    height: auto;
    margin-top: 1rem;
    justify-content: space-between;
}

.container button{
    border-radius: 6px;
    padding: .6rem;
}

.container #reset {
    position: absolute;
    bottom: 3rem;
    width: 65%;
}